{% extends 'base.html.twig' %}

{% block title %}Hello TodoListController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <p>This friendly message is coming from:</p>
        <ul>
            <li>Your controller at <code>/home/romain/Bureau/Symfony/project_light/src/Controller/TodoListController.php</code></li>
            <li>Your template at <code>/home/romain/Bureau/Symfony/project_light/templates/todo_list/index.html.twig</code></li>
        </ul>

        {# Ajout d'un lien de déconnexion si l'utilisateur est connecté #}
        {% if app.user %}
            <div class="mt-3">
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
            </div>
        {% else %}
            <div class="mt-3">
                <p><a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a></p>
            </div>
        {% endif %}
    </div>
{% endblock %}
